.type_wrapper {
	position: relative;
}
.type_wrapper span {
	border-right: 1px solid #E0E0E0; 
	animation: cursor 1s ease infinite;
	padding: 0 2px;
}
@keyframes cursor {
  0% {
  	border-color: transparent;
  }
  100% {
  	border-color: #E0E0E0;
  }
}